PORT=3003
SUPABASE_URL=https://sua-url-do-supabase.supabase.co
SUPABASE_ANON_KEY=sua-chave-anonima-do-supabase
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhzZ2JybWFheW5laW5oZm1jeXhyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTk5NTk3OCwiZXhwIjoyMDk1NTcxOTc4fQ.4RUwXeCyE2d1gwobJvgtQMBwktdozuWDtBvKKPkXSr0
GETRIN_MANAGER_INVITE_CODE=senha123
GETRIN_ADMIN_INVITE_CODE=senha123
